.counter-display
  .counter-numbers
    .counter-number
      | { getNumber(0) }
    .counter-divider(if="{ data.get('1') }")
      | /
    .counter-number(if="{ data.get('1') }")
      | { getNumber(1) }
  .counter-names
    .counter-name
      | { data.get('0.fmt.x')(data.get('0.xs.0')) || '&nbsp;' }
    .counter-name(if="{ data.get('1') }")
      | { data.get('1.fmt.x')(data.get('1.xs.0')) || '&nbsp;' }
.counter-label(if="{ !data.get('1') }")
  | { data.get('0.series') || '&nbsp;' }
.counter-label(if="{ data.get('1') }")
  | { data.get('0.series') || '&nbsp;' }
.counter-divider(if="{ data.get('1') }")
  | vs
.counter-label(if="{ data.get('1') }")
  | { data.get('1.series') || '&nbsp;' }

