.display
  .numbers
    .number
      | { getNumber(0) }
    .divider(if="{ data.get('1') }")
      | /
    .number(if="{ data.get('1') }")
      | { getNumber(1) }
  .names
    .name
      | { data.get('0.fmt.x')(data.get('0.xs.0')) }
    .name(if="{ data.get('1') }")
      | { data.get('1.fmt.x')(data.get('1.xs.0')) }
.label(if="{ !data.get('1') }")
  | { data.get('0.series') }
.label(if="{ data.get('1') }")
  | { data.get('0.series') }
.divider(if="{ data.get('1') }")
  | vs
.label(if="{ data.get('1') }")
  | { data.get('1.series') }

