#{ 'yield' }
  text.input(lookup='account.email', placeholder='Email')
  text.input(type='password', lookup='account.password', placeholder='Password')
  .error.message(if='{ error }')
    | { error }
  div(onclick='{ submit }',class='{ disabled: disabled, button: true, submit: true }')
    | Login
