.table-header
  .table-cell(each='{ h, k in tableColumns }', onclick='{ typeof h.onclick == "string" ? parent[h.onclick](h) : h.onclick(h) }') { h.name }
    checkbox(bind='allItems', if='{ h.checkbox }')
    .asc-desc(if='{ data.get("sort") == h.field }')
      .asc(if='{ data.get("asc") }')
      .desc(if='{ !data.get("asc") }')
daisho-table-row.table-row(each='{ item, k in data.get(tableField) }', data='{ parent.data.ref(parent.tableField ? parent.tableField + "." + k : k) }')
  #{ 'yield' }
