.table-header
  .table-cell(each='{ h, k in listColumns }') { h }
daisho-table-row.table-row(each='{ item, k in data.get(listField) }', data='{ parent.data.ref(parent.listField ? parent.listField + "." + k : k) }')
  #{ 'yield' }
