<main if="{ data.get('loggedIn') }">
</main>
<nav if="{ data.get('loggedIn') }">
  <ul>
<li each="{ m in moduleList }" onclick="{ route(m.key) }" class="{ active: parent.currentRoute() == m.key }">
      <div class="icon"></div>
      <div class="name">
        { m.name }
      </div>
    </li>
  </ul>
</nav>
<search if="{ data.get('loggedIn') }">SEARCH</search>
<header if="{ data.get('loggedIn') }">
  <div class="branding">
    <img class="logo" src="img/logo.png">
    <span>hanzo</span>
  </div>

  <input type="checkbox" id="org-switcher" class="menu-toggle">
  <label for="org-switcher" class="orgname" onclick="{ resetMenus }">
    <span>{ data.get('organization') }</span>
    <org-switcher-menu client="{ client }" dashboard-data="{ data }" class="menu" onclick="{ ignore }">
      <div class="menu-title">Switch Organization</div>
    </org-switcher-menu>
  </label>

  <div class="username">
    <img class="avatar" src="https://placebear.com/g/200/200">
    <span>Your Name</span>
  </div>
</header>
<footer if="{ data.get('loggedIn') }">FOOTER</footer>

