//
// Structural Elements:
//

header
search
footer
nav
main
  position:     absolute
  transition:   all 0.2s ease-in-out
  padding:      1rem

dashboard *
  box-sizing:   border-box

// header
// search
// footer
// nav
// main
//   border 1px solid black

//
// Dashboard
// `dashboard` - Dashboard Content Container
//

dashboard
  height:       100%
  bottom:       0
  left:         0
  right:        0
  top:          0
  position:     fixed
  display:      block
  font-size:    1rem

//
// Header:
// `header` - Fixed Top Header Bar
//

header
  height:   headerHeight
  top:      0
  width:    100%

//
// Search
// `search` - Search container
//

search
  top:      headerHeight
  height:   searchHeight
  display:  block
  width:    100%
  padding:  1.8em defaultPadding + navWidth

//
// Footer:
// `footer` - Fixed Bottom Footer Bar
//

footer
  height:   footerHeight
  bottom:   0
  width:    100%

//
// Navigation
// `nav` - Collapsible Left Menu Bar
//

nav
  width:    navWidth
  position: absolute
  left:     0
  top:      headerHeight + searchHeight
  bottom:   footerHeight
  overflow: scroll

  ul
    list-style-type: none
    padding: 0

    li
      cursor: pointer

body.collapsed
  nav
    left: -navWidth

//
// Navigation
// `main` - Main Content main
//

main
  top:      headerHeight + searchHeight
  bottom:   footerHeight
  left:     navWidth
  position: absolute
  right:    0
  overflow: scroll
  padding:  20px

body.collapsed
  main
    margin-left: 0

