//
// Structural Elements
//
header
  padding: 0

  .branding
    width:      navWidth + defaultPadding

//
//  Logo - Image logo icon and adjacent logo text
//
//  @example
//  div.branding
//      img.logo(src="https://placebear.com/200/200")
//      span
//          | Bear Corp
//      span
//          | Unrelated Non-Text
//
//  div.branding
//      img.logo(src="https://robohash.org/d735ee9199f0b40583691aba49586ef1?size=200x200")
//      span
//          | Robot Corp
//      span
//          | Unrelated Non-Text
//

.branding, .username, .orgname
  display:  inline-block
  height:   100%
  padding:  1em
  position: relative
  font-size: .8em

.branding
  font-size: 1em
  padding: 0.8em
  .logo
    width: 1.5em

    & + *
      position: relative
      top: -.4em
      left: .4em

header .username
    padding: 1.2em !important

.username, .orgname
  float: right

  span
    position:   relative
    top:        .25em
    cursor:     pointer
    pointer-events: none

.username
  .avatar
    width: 1.5em
    border-radius: 50%

  span
    top: -.4em
    padding: 0 0 0 .4em
