header{
  color:#fff;
  background-color:#362a49;
}
header .branding{
  border-right:1px solid #fff;
}
header .username,
header .orgname{
  border-left:1px solid #fff;
}
nav{
  color:#fff;
  background-color:#362a49;
}
nav > ul > li:hover{
  color:#935de1;
  background-color:#fff;
}
nav > ul > li:hover *{
  background-color:#fff;
}
nav > ul > li:hover .name:after{
  background-color:#fff;
}
search{
  color:#000;
  background-color:#fff;
}
main{
  color:#000;
  background-color:#f2f2f2;
}
header,
search,
footer,
nav,
main{
  position:absolute;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}
dashboard *{
  box-sizing:border-box;
}
dashboard{
  height:100%;
  bottom:0;
  left:0;
  right:0;
  top:0;
  position:fixed;
  display:block;
  font-size:1rem;
}
header{
  height:50px;
  top:0;
  width:100%;
}
search{
  top:50px;
  height:70px;
  display:block;
  width:100%;
  padding:1.8em 106px;
}
footer{
  height:0px;
  bottom:0;
  width:100%;
}
nav{
  width:70px;
  position:absolute;
  left:0;
  top:120px;
  bottom:0px;
  overflow-x:visible;
}
body.collapsed nav{
  left:-navWidth;
}
main{
  top:120px;
  bottom:0px;
  left:70px;
  position:absolute;
  right:0;
  overflow:scroll;
  padding:28px 28px 28px 56px;
}
body.collapsed main{
  margin-left:0;
}
header{
  padding:0;
}
header .branding{
  width:106px;
}
.branding,
.username,
.orgname{
  display:inline-block;
  height:100%;
  padding:0.8em;
  position:relative;
}
.branding .logo{
  width:1.5em;
}
.branding .logo + *{
  position:relative;
  top:-0.4em;
  left:0.4em;
}
.username,
.orgname{
  padding:0.8em 1.2em;
  float:right;
}
.username span,
.orgname span{
  position:relative;
  top:0.25em;
}
.username .avatar{
  width:1.5em;
  border-radius:50%;
}
.username span{
  top:-0.4em;
  padding:0 0 0 0.4em;
}
.menu{
  position:absolute;
  top:100%;
  right:0;
  display:block;
  max-height:500px;
  min-width:200px;
  overflow-y:auto;
  background-color:#f00;
}
search{
  box-shadow:0.1em 0.1em 1em rgba(0,0,0,0.3);
}
nav{
  padding:0;
}
nav > ul{
  list-style-type:none;
  margin:0;
  padding:0;
}
nav > ul > li{
  cursor:pointer;
  height:55px;
  padding:1em 1.25em;
  position:relative;
}
nav > ul > li .icon{
  width:1.5em;
  height:1.5em;
  background-image:url("../img/nav-item.png");
  background-size:contain;
}
nav > ul > li .name{
  white-space:nowrap;
  left:60px;
  position:absolute;
  top:0;
  width:0;
  height:55px;
  overflow:hidden;
}
nav > ul > li .name:after{
  content:'';
  height:100%;
  width:10px;
  display:block;
  position:absolute;
  left:-10px;
  top:0;
}
nav > ul > li:hover .icon{
  background-image:url("../img/nav-item-active.png");
}
nav > ul > li:hover .name{
  width:110px;
  padding:1em 1.25em 1em 10px;
  line-height:1.6em;
  box-shadow:0.1em 0.1em 1em rgba(0,0,0,0.3);
  overflow:visible;
}
login{
  position:fixed;
  display:block;
  width:100%;
}
login > *{
  width:500px;
  margin:auto;
}
daisho-poly-control{
  display:block;
}
daisho-text-control{
  height:4em;
  margin:1em 0;
  position:relative;
  width:100%;
  display:block;
}
daisho-text-control input,
daisho-text-control label{
  cursor:text;
  font-size:1em;
  padding:1.6em 0 0.6em 0em;
  position:absolute;
  -webkit-transition:all 0.15s ease;
  transition:all 0.15s ease;
  width:100%;
}
daisho-text-control input{
  color:#606060;
  border:0;
  border-bottom:solid #252525 1px;
  outline:none;
  box-shadow:0 0 0px 1000px #fff inset;
}
daisho-text-control input.filled ~ label,
daisho-text-control input:focus ~ label{
  font-size:0.7em;
  position:absolute;
  padding-top:0.3em;
}
daisho-text-control label{
  color:#252525;
  padding:1.5em 0;
}
button,
.button{
  background-color:#252525;
  border:0;
  color:#fff;
  padding:0.5em 1em;
  box-shadow:0.1em 0.1em 1em rgba(0,0,0,0.5);
  outline:none;
  -webkit-transition:all 0.5s ease;
  transition:all 0.5s ease;
}
button.disabled,
.button.disabled,
button:disabled,
.button:disabled{
  background-color:#fff;
  border:1px solid #cecece;
  color:#cecece;
  box-shadow:none;
}
button:hover,
.button:hover{
  box-shadow:0.1em 0.3em 1em rgba(0,0,0,0.5);
}
daisho-static-text{
  display:block;
}
daisho-table-widget{
  display:table;
  position:relative;
  width:100%;
}
daisho-table-widget .table-head{
  display:table-header-group;
  width:100%;
}
daisho-table-widget .table-body{
  display:table-row-group;
  width:100%;
}
daisho-table-widget .table-row{
  display:table-row;
  width:100%;
}
daisho-table-widget .table-row > *,
daisho-table-widget .table-cell{
  display:table-cell;
}
daisho-table-widget .table-row,
daisho-table-widget daisho-table-row{
  height:50px;
}
daisho-table-widget .table-row > *,
daisho-table-widget daisho-table-row > *{
  position:relative;
  line-height:3.5em;
}
daisho-table-widget .table-row > *:first-child,
daisho-table-widget daisho-table-row > *:first-child{
  padding-left:32px;
}
daisho-table-widget .table-row > *:last-child,
daisho-table-widget daisho-table-row > *:last-child{
  padding-right:32px;
}
daisho-table-widget .table-head .table-row,
daisho-table-widget .table-head daisho-table-row{
  height:82px;
}
daisho-table-widget .table-head .table-row > *,
daisho-table-widget .table-head daisho-table-row > *{
  padding-top:32px;
}
daisho-table-widget .table-body:before{
  content:'';
  display:block;
  position:absolute;
  width:100%;
  top:82px;
  left:0;
  bottom:0;
  right:0;
  box-shadow:0.1em 0.1em 1em rgba(0,0,0,0.3);
}
daisho-table-widget .table-body .table-row:first-child > *,
daisho-table-widget .table-body daisho-table-row:first-child > *{
  height:82px;
  padding-top:32px;
}
daisho-table-widget .table-body .table-row:last-child > *,
daisho-table-widget .table-body daisho-table-row:last-child > *{
  padding-bottom:32px;
}
daisho-table-widget .table-body .table-row:last-child > *:after,
daisho-table-widget .table-body daisho-table-row:last-child > *:after{
  border-bottom:0;
}
daisho-table-widget .table-body .table-row > *,
daisho-table-widget .table-body daisho-table-row > *{
  background-color:#fff;
}
daisho-table-widget .table-body .table-row > *:after,
daisho-table-widget .table-body daisho-table-row > *:after{
  content:'';
  display:block;
  width:100%;
  height:0;
  position:absolute;
  bottom:0;
  border-bottom:1px solid #cecece;
}
daisho-table-widget .table-body .table-row > *:first-child:after,
daisho-table-widget .table-body daisho-table-row > *:first-child:after{
  left:32px;
}
daisho-table-widget .table-body .table-row > *:last-child:after,
daisho-table-widget .table-body daisho-table-row > *:last-child:after{
  right:32px;
}
footer{
  display:none;
}
daisho-table-widget{
  font-size:0.82rem;
}
.grid .grid-item > *{
  border:1px solid #000;
}
.grid .grid-item{
  position:relative;
  display:inline-block;
}
.grid .grid-item > *{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:1rem;
  padding:1rem;
}
.grid .grid-item.narrow{
  width:360px;
}
.grid .grid-item.medium{
  width:720px;
}
.grid .grid-item.wide{
  width:1080px;
}
.grid .grid-item.short:before{
  content:"";
  display:block;
  padding-top:360px;
}
.grid .grid-item.middle:before{
  content:"";
  display:block;
  padding-top:720px;
}
.grid .grid-item.tall:before{
  content:"";
  display:block;
  padding-top:1080px;
}/*# sourceMappingURL=main.css.map */