html{
  font-family:Usual;
}
header{
  color:#fff;
  background-color:#362a49;
}
header .branding{
  border-right:1px solid #fff;
}
header .username,
header .orgname{
  border-left:1px solid #fff;
}
nav{
  color:#fff;
  background-color:#362a49;
}
nav > ul > li:hover,
nav li.active{
  color:#6529a4;
  background-color:#fff;
}
nav > ul > li:hover *,
nav li.active *{
  background-color:#fff;
}
nav > ul > li:hover .name:after,
nav li.active .name:after{
  background-color:#fff;
}
search{
  color:#000;
  background-color:#fff;
}
main{
  color:#000;
  background-color:#f2f2f2;
}
.menu-toggle:checked + *{
  background-color:#fff;
  color:#2d2849;
}
.menu-toggle + *:hover{
  background-color:#fff;
  color:#6529a4;
}
.menu{
  color:#606060;
  background-color:#fff;
}
.menu .menu-title{
  color:#6529a4;
}
daisho-menu-widget daisho-inline-text-control,
daisho-table-filter-menu-widget daisho-inline-text-control{
  border-top:2px solid #f0f0f0;
  border-bottom:2px solid #f0f0f0;
}
daisho-menu-widget > ul > li:not(.no-results):hover,
daisho-table-filter-menu-widget > ul > li:not(.no-results):hover{
  color:#6529a4;
  background-color:#f1f3f4;
}
daisho-table-row:hover *{
  background-color:#f1f3f4;
}
daisho-table-controls-widget{
  color:#606060;
}
.table-filter-count,
.table-filter-sort{
  color:#6529a4;
}
.table-filter-option.button{
  background-color:#6529a4;
}
.table-filter-option.button:hover{
  background-color:#fff;
}
.menu-toggle:checked + .table-filter-option{
  background-color:#fff;
}
header,
search,
footer,
nav,
main{
  position:absolute;
  -webkit-transition:all 0.2s ease-in-out;
  transition:all 0.2s ease-in-out;
}
dashboard *{
  box-sizing:border-box;
}
dashboard{
  height:100%;
  bottom:0;
  left:0;
  right:0;
  top:0;
  position:fixed;
  display:block;
  font-size:1rem;
}
header{
  height:50px;
  top:0;
  width:100%;
}
search{
  top:50px;
  height:70px;
  display:block;
  width:100%;
  padding:1.8em 106px;
}
footer{
  height:0px;
  bottom:0;
  width:100%;
}
nav{
  width:70px;
  position:absolute;
  left:0;
  top:120px;
  bottom:0px;
  overflow-x:visible;
}
body.collapsed nav{
  left:-navWidth;
}
main{
  top:120px;
  bottom:0px;
  left:70px;
  position:absolute;
  right:0;
  overflow:scroll;
  padding:28px 28px 28px 56px;
}
body.collapsed main{
  margin-left:0;
}
header{
  padding:0;
}
header .branding{
  width:106px;
}
.branding,
.username,
.orgname{
  display:inline-block;
  height:100%;
  padding:1em;
  position:relative;
  font-size:0.8em;
}
.branding{
  font-size:1em;
  padding:0.8em;
}
.branding .logo{
  width:1.5em;
}
.branding .logo + *{
  position:relative;
  top:-0.4em;
  left:0.4em;
}
header .username{
  padding:1.2em !important;
}
.username,
.orgname{
  float:right;
}
.username span,
.orgname span{
  position:relative;
  top:0.25em;
  cursor:pointer;
  pointer-events:none;
}
.username .avatar{
  width:1.5em;
  border-radius:50%;
}
.username span{
  top:-0.4em;
  padding:0 0 0 0.4em;
}
.menu{
  display:none;
  position:absolute;
  top:100%;
  right:0;
  min-width:250px;
  overflow-y:auto;
  box-shadow:0.1em 0.5em 1em rgba(0,0,0,0.3);
  z-index:1000;
}
.menu .menu-title{
  font-size:1.2em;
  padding:0 40px;
  height:60px;
  white-space:nowrap;
  text-align:center;
  line-height:3em;
}
.menu ul{
  max-height:365px;
}
.menu ul > .no-results{
  cursor:default;
}
.menu-toggle{
  display:none;
}
.menu-toggle:checked + * .menu{
  display:block;
}
.menu-toggle + *{
  cursor:pointer;
}
.menu-toggle + * > *{
  cursor:default;
}
search{
  box-shadow:0.1em 0.1em 1em rgba(0,0,0,0.3);
}
search .message{
  color:#d3d3d3;
  font-weight:300;
  text-align:center;
  white-space:nowrap;
}
search span.icon{
  background-image:url("../img/search.png") !important;
  margin-bottom:-1px;
  margin-right:10px;
  background:top right no-repeat;
  display:inline-block;
  height:16px;
  width:16px;
  background-size:16px;
}
search .message:hover{
  -webkit-animation-name:search-hover;
          animation-name:search-hover;
  -webkit-animation-timing-function:ease-in-out;
          animation-timing-function:ease-in-out;
  -webkit-animation-duration:0.5s;
          animation-duration:0.5s;
  -webkit-animation-iteration-count:1;
          animation-iteration-count:1;
  -webkit-animation-fill-mode:forwards;
          animation-fill-mode:forwards;
}
@-webkit-keyframes search-hover{
  0%{
    width:100%;
  }
  100%{
    width:0%;
  }
}
@keyframes search-hover{
  0%{
    width:100%;
  }
  100%{
    width:0%;
  }
}
nav{
  padding:0;
}
nav > ul{
  list-style-type:none;
  margin:0;
  padding:0;
}
nav > ul > li{
  cursor:pointer;
  height:55px;
  padding:1em 1.25em;
  position:relative;
}
nav > ul > li .icon{
  width:1.5em;
  height:1.5em;
  background-image:url("../img/nav-item.png");
  background-size:contain;
}
nav > ul > li .name{
  white-space:nowrap;
  left:70px;
  position:absolute;
  top:0;
  width:0;
  height:55px;
  overflow:hidden;
}
nav > ul > li .name:after{
  content:'';
  height:100%;
  width:10px;
  display:block;
  position:absolute;
  left:-10px;
  top:0;
}
nav > ul > li:hover .icon{
  background-image:url("../img/nav-item-hover.png");
}
nav > ul > li:hover .name{
  font-size:0.9em;
  font-weight:400;
  width:110px;
  padding:1.3em;
  box-shadow:0.1em 0.1em 1em rgba(0,0,0,0.3);
  overflow:visible;
}
nav > ul > li.active .icon{
  background-image:url("../img/nav-item-active.png");
}
.table-filter-summary:before{
  content:'';
  width:20px;
  height:20px;
  display:inline-block;
  background-image:url("../img/nav-item-active.png");
  background-size:contain;
  margin-top:4px;
  margin-right:8px;
  line-height:2em;
}
.table-filter-summary > *{
  position:relative;
  top:-3px;
}
org-switcher-menu .menu-title{
  font-size:1.1em !important;
  padding:10px !important;
  height:60px !important;
}
org-switcher-menu daisho-menu-widget{
  font-size:10px;
  padding:0px !important;
}
login{
  position:fixed;
  display:block;
  width:100%;
}
login > *{
  width:500px;
  margin:auto;
}
daisho-poly-control{
  display:block;
}
daisho-text-control{
  height:4em;
  margin:1em 0;
  position:relative;
  width:100%;
  display:block;
}
daisho-text-control input,
daisho-text-control label{
  cursor:text;
  font-size:1em;
  padding:1.6em 0 0.6em 0em;
  position:absolute;
  -webkit-transition:all 0.15s ease;
  transition:all 0.15s ease;
  width:100%;
}
daisho-text-control input{
  color:#606060;
  border:0;
  border-bottom:solid #252525 1px;
  outline:none;
  box-shadow:0 0 0px 1000px #fff inset;
}
daisho-text-control input.filled ~ label,
daisho-text-control input:focus ~ label{
  font-size:0.7em;
  position:absolute;
  padding-top:0.3em;
}
daisho-text-control label{
  color:#252525;
  padding:1.5em 0;
  pointer-events:none;
}
button,
.button{
  background-color:#252525;
  border:0;
  color:#fff;
  padding:0.5em 1em;
  box-shadow:0.1em 0.1em 1em rgba(0,0,0,0.5);
  outline:none;
  -webkit-transition:all 0.5s ease;
  transition:all 0.5s ease;
  cursor:pointer;
}
button.disabled,
.button.disabled,
button:disabled,
.button:disabled{
  background-color:#fff;
  border:1px solid #cecece;
  color:#cecece;
  box-shadow:none;
}
button:hover,
.button:hover{
  box-shadow:0.1em 0.3em 1em rgba(0,0,0,0.5);
}
daisho-static-text{
  display:block;
}
daisho-table-widget{
  display:table;
  position:relative;
  width:100%;
}
daisho-table-widget .table-head{
  display:table-header-group;
  width:100%;
}
daisho-table-widget .table-body{
  display:table-row-group;
  width:100%;
}
daisho-table-widget .table-row{
  display:table-row;
  width:100%;
}
daisho-table-widget .table-row > *,
daisho-table-widget .table-cell{
  display:table-cell;
}
daisho-table-widget .table-row,
daisho-table-widget daisho-table-row{
  height:50px;
}
daisho-table-widget .table-row > *,
daisho-table-widget daisho-table-row > *{
  position:relative;
  line-height:3.8em;
}
daisho-table-widget .table-row > *:first-child,
daisho-table-widget daisho-table-row > *:first-child{
  padding-left:32px;
}
daisho-table-widget .table-row > *:last-child,
daisho-table-widget daisho-table-row > *:last-child{
  padding-right:32px;
}
daisho-table-widget .table-head .table-row,
daisho-table-widget .table-head daisho-table-row{
  height:82px;
}
daisho-table-widget .table-head .table-row > *,
daisho-table-widget .table-head daisho-table-row > *{
  padding-top:32px;
}
daisho-table-widget .table-body:before{
  content:'';
  display:block;
  position:absolute;
  width:100%;
  top:82px;
  left:0;
  bottom:0;
  right:0;
  box-shadow:0.1em 0.1em 1em rgba(0,0,0,0.3);
}
daisho-table-widget .table-body .table-row:first-child > *,
daisho-table-widget .table-body daisho-table-row:first-child > *{
  height:82px;
  padding-top:32px;
}
daisho-table-widget .table-body .table-row:last-child > *,
daisho-table-widget .table-body daisho-table-row:last-child > *{
  padding-bottom:32px;
}
daisho-table-widget .table-body .table-row:last-child > *:after,
daisho-table-widget .table-body daisho-table-row:last-child > *:after{
  border-bottom:0;
}
daisho-table-widget .table-body .table-row > *,
daisho-table-widget .table-body daisho-table-row > *{
  background-color:#fff;
}
daisho-table-widget .table-body .table-row > *:after,
daisho-table-widget .table-body daisho-table-row > *:after{
  content:'';
  display:block;
  width:100%;
  height:0;
  position:absolute;
  bottom:0;
  border-bottom:1px solid #cecece;
}
daisho-table-widget .table-body .table-row > *:first-child:after,
daisho-table-widget .table-body daisho-table-row > *:first-child:after{
  left:32px;
}
daisho-table-widget .table-body .table-row > *:last-child:after,
daisho-table-widget .table-body daisho-table-row > *:last-child:after{
  right:32px;
}
daisho-menu-widget,
daisho-table-filter-menu-widget{
  display:block;
  padding-bottom:15px;
}
daisho-menu-widget daisho-inline-text-control,
daisho-table-filter-menu-widget daisho-inline-text-control{
  height:60px;
  display:block;
  padding:17px 20px;
}
daisho-menu-widget daisho-inline-text-control input,
daisho-table-filter-menu-widget daisho-inline-text-control input{
  width:100%;
  font-size:1.1em;
  border:0;
  outline:none;
}
daisho-menu-widget > ul,
daisho-table-filter-menu-widget > ul{
  overflow-y:scroll;
  list-style:none;
  padding:0;
  margin:0;
}
daisho-menu-widget > ul > li,
daisho-table-filter-menu-widget > ul > li{
  padding:20px;
  cursor:pointer;
}
footer{
  display:none;
}
daisho-table-widget{
  font-size:0.75rem;
}
.grid .grid-item > *{
  border:1px solid #000;
}
.grid .grid-item{
  position:relative;
  display:inline-block;
}
.grid .grid-item > *{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:1rem;
  padding:1rem;
}
.grid .grid-item.narrow{
  width:360px;
}
.grid .grid-item.medium{
  width:720px;
}
.grid .grid-item.wide{
  width:1080px;
}
.grid .grid-item.short:before{
  content:"";
  display:block;
  padding-top:360px;
}
.grid .grid-item.middle:before{
  content:"";
  display:block;
  padding-top:720px;
}
.grid .grid-item.tall:before{
  content:"";
  display:block;
  padding-top:1080px;
}
daisho-table-controls-widget{
  height:60px;
  background-color:#fff;
  display:block;
  box-shadow:0.1em 0.1em 1em rgba(0,0,0,0.3);
  padding:14px 16px;
  position:relative;
}
daisho-table-controls-widget .menu{
  margin-top:16px;
}
daisho-table-controls-widget .menu .menu-title{
  padding-left:20px;
  text-align:left;
}
.table-filter-summary{
  font-size:1.2em;
  line-height:2em;
  display:inline-block;
}
.table-filter-option{
  float:right;
  height:100%;
  margin-left:14px;
  padding-top:0.45em;
  padding-bottom:0.45em;
}
.table-filter-option > span{
  pointer-events:none;
}/*# sourceMappingURL=main.css.map */