//
// Global Vars
//

@import "vars.styl"

//
// Theme Styles
//

@import "prettycolors.styl"

//
// Dashboard Styles
//

@import "dashboard.styl"
@import "header.styl"
@import "menu.styl"
@import "search.styl"
@import "nav.styl"
@import "table.styl"

//
// Login Styles
//

@import "login.styl"

//
// Control Styles
//

@import "../../node_modules/daisho-riot/css/main.styl"

//
// Other stuff
//

@import "overrides.styl"

//
// Dev
//

@import "module-stuff.styl"

tableFilterHeight = 60px

daisho-table-controls-widget
  height: tableFilterHeight
  background-color: #FFF
  display: block
  box-shadow: .1em .1em 1em dropShadowColor
  padding: 14px 16px
  position: relative

  .menu
    margin-top: 16px

    .menu-title
      padding-left: 20px
      text-align: left

.table-filter-summary
  font-size: 1.2em
  line-height: 1.6em
  display: inline-block

.table-filter-option
  float: right
  height: 100%
  margin-left: 14px
  padding-top: 0.45em
  padding-bottom: 0.45em

  > span
    pointer-events:none
