//
// Home Module
//

gridSize = 360px

.grid .grid-item > *
  border: 1px solid black

.grid
  .grid-item
    position: relative
    display: inline-block

    > *
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      margin: 1rem
      padding: 1rem

    &.narrow
      width: gridSize

    &.medium
      width: gridSize * 2

    &.wide
      width: gridSize * 3

    &.short:before
      content: ""
      display: block
      padding-top: gridSize

    &.middle:before
      content: ""
      display: block
      padding-top: gridSize * 2

    &.tall:before
      content: ""
      display: block
      padding-top: gridSize * 3

//
// User Module
//
