//
// Structural Elements
//
nav
  padding: 0

//
//  Nav Item: Object representing a navigation option
//
//  @example
//  nav
//      ul
//          li Navigation
//

nav
  // &:before
  //   content:    ''
  //   display:    block
  //   color:      black
  //   width:      100%
  //   height:     10px
  //   position:   absolute
  //   top: 0
  //   left: 0

  > ul
    list-style-type: none
    margin: 0
    padding: 0

    > li
      cursor:   pointer
      height:   navHeight
      padding:  1em 1.25em
      position: relative

      .icon
        width:  1.5em
        height: 1.5em
        background-image: url(../img/nav-item.png)
        background-size: contain

      .name
        white-space: nowrap
        left: 70px
        position: absolute
        top: 0
        width: 0
        height: 55px
        overflow: hidden

        &:after
          content: '';
          height: 100%;
          width: 10px;
          display: block;
          position: absolute;
          left: -10px;
          top: 0;

      &:hover
        .icon
          background-image: url(../img/nav-item-hover.png)
        .name
          font-size:    .9em
          font-weight:  400
          width:        navHoverWidth + 10px
          padding:      1.3em
          box-shadow:   .1em .1em 1em dropShadowColor
          overflow:     visible

      &.active
        .icon
          background-image: url(../img/nav-item-active.png)

