//
// PrimaryColor
//
primaryColor1   = #362A49
primaryColor2   = #935DE1

//
// Text Colors
//

textLightColor  = #FFF
textDarkColor   = #000
textAccentColor = primaryColor2

//
// Special Colors
//

mainBackgroundColor     = #F2F2F2
searchBackgroundColor   = #FFF
dividerColor            = #FFF
navHoverColor           = #FFF

//
// Color Assignments
//

header
  color:            textLightColor
  background-color: primaryColor1

  .branding
    border-right:   1px solid dividerColor

  .username, .orgname
    border-left:    1px solid dividerColor

nav
  color:            textLightColor
  background-color: primaryColor1

  > ul > li .name
    color:              primaryColor2
    background-color:   navHoverColor

search
  color:            textDarkColor
  background-color: searchBackgroundColor

main
  color:            textDarkColor
  background-color: mainBackgroundColor
