//
// PrimaryColor
//
primaryColor1   = #362A49
primaryColor2   = #6529A4
primaryColor3   = #2D2849

//
// Text Colors
//

textLightColor      = #FFF
textDarkColor       = #000
textAccentColor     = primaryColor2
textDarkAccentColor = primaryColor3
menuOptionColor     = #606060

//
// Special Colors
//

mainBackgroundColor     = #F2F2F2
searchBackgroundColor   = #FFF

dividerColor    = #FFF
navHoverColor   = #FFF

menuSelectedBackgroundColor = #FFF
menuBackgroundColor         = #FFF
menuDividerColor            = #F0F0F0
menuItemHighlightColor      = #F1F3F4

tableRowHighlightColor      = menuItemHighlightColor

dropShadowColor         = rgba(0,0,0,0.3)

//
// Color Assignments
//

header
  color:            textLightColor
  background-color: primaryColor1

  .branding
    border-right:   1px solid dividerColor

  .username, .orgname
    border-left:    1px solid dividerColor

nav
  color:            textLightColor
  background-color: primaryColor1

  > ul > li:hover
    color: primaryColor2
    background-color: navHoverColor
    *
      background-color: navHoverColor

    .name:after
      background-color: navHoverColor

search
  color:            textDarkColor
  background-color: searchBackgroundColor

main
  color:            textDarkColor
  background-color: mainBackgroundColor

.menu-toggle
  &:checked
    & + *
      background-color: menuSelectedBackgroundColor
      color:            primaryColor3

  & + *:hover
    background-color: menuSelectedBackgroundColor
    color:            primaryColor2

.menu
  color:            menuOptionColor
  background-color: menuBackgroundColor

  .menu-title
    color:          textAccentColor

daisho-menu-widget
  daisho-inline-text-control
    border-top:     1px solid menuDividerColor
    border-bottom:  1px solid menuDividerColor

  > ul
    > li
      &:hover
        color:              textAccentColor
        background-color:   menuItemHighlightColor

daisho-table-row:hover *
  background-color: tableRowHighlightColor
