headerHeight = 4rem
footerHeight = 3rem

header
footer
nav
section
  border: 1px solid black

//
// Structural Elements:
//

header
footer
nav
section
  box-sizing:   border-box
  transition:   all 0.2s ease-in-out
  padding:      1rem

header
footer
  width:    100%
  position: fixed

//
// Header:
// `header` - Fixed Top Header Bar
//

header
  height:   headerHeight
  top:      0

//
// Footer:
// `footer` - Fixed Bottom Footer Bar
//

footer
  height:   footerHeight
  bottom:   0

//
// Navigation
// `nav` - Collapsible Left Menu Bar
//

body
  position: relative

nav
  width:    15rem
  height:   100%
  position: absolute
  left:     0
  top:      0

body.collapsed
  nav
    left: -15rem

//
// Navigation
// `section` - Main Content Section
//

section
  min-height:       800px
  margin-top:       headerHeight
  margin-bottom:    footerHeight
  margin-left:  15rem

body.collapsed
  section
    margin-left: 0
