.table-filter-summary
  &:before
    content: ''
    width:  20px
    height: 20px
    display: inline-block
    background-image: url(../img/nav-item-active.png)
    background-size: contain
    margin-top: 4px
    margin-right: 8px
    line-height: 2em

  > *
    position: relative
    top: -3px
